$File_Path_To_be_saved= "C:/Users/Administrator/Desktop/Reports/Service_Status_Report.csv"
$status=Get-Service | Select Name, DisplayName, Status
$status |Export-Csv -Path $File_Path_To_be_saved -NoTypeInformation -Append -Force
$status 
